x-generated: '2026-07-21'
x-method: generated
x-source: >-
  Generated faithfully from the published Flex Pay REST API reference at
  https://docs.uplift.com/apidocs (Upgrade, Inc. — Flex Pay, formerly Uplift).
  Upgrade does not publish a machine-readable OpenAPI; every path, method,
  parameter, and field below is taken from the documented reference pages
  (creates-an-order, retrieves-an-order, confirms-an-order,
  retrieves-an-orders-card-resource, authorize-transaction, void-transaction,
  capture-transaction, refund-transaction, get-transaction,
  generates-marketing-offers-for-orders-4, authorization-1). Schemas capture the
  documented subset of fields, not the full internal model.
openapi: 3.0.3
info:
  title: Flex Pay API (Upgrade)
  description: >-
    Flex Pay (by Upgrade, formerly Uplift) lets travel and retail merchants
    offer Buy Now, Pay Later payment plans. The REST surface covers the
    Marketing Offers API (monthly-payment pricing offers early in the shopping
    flow), the Checkout Orders API (create, read, and confirm orders and
    retrieve the virtual-card payout resource), and the Transactions API
    (authorize, capture, void, refund — the Direct Settle disbursement model).
    All requests require an OAuth 2.0 access token obtained with the
    client-credentials grant and sent as a Bearer token.
  version: v1
  contact:
    name: Flex Pay Integration Support
    url: https://www.uplift.com/partners/
externalDocs:
  description: Flex Pay REST API reference
  url: https://docs.uplift.com/apidocs
servers:
  - url: https://partner.upgrade.com/api/checkout
    description: Production (checkout + transactions)
  - url: https://partner.credify.tech/api/checkout
    description: Pre-production (checkout + transactions)
tags:
  - name: Orders
    description: Checkout Orders API
  - name: Transactions
    description: Transactions API (Direct Settle disbursement)
  - name: Marketing Offers
    description: Marketing Offers API
security:
  - flexPayOAuth: []
paths:
  /v1/orders:
    post:
      operationId: createOrder
      tags: [Orders]
      summary: Create Order
      description: >-
        Used to create different order types. Look at the order_items array for
        the different types of orders.
      externalDocs:
        url: https://docs.uplift.com/apidocs/creates-an-order
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Order'
      responses:
        '200':
          description: Successful order response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
  /v1/orders/{orderId}:
    get:
      operationId: getOrder
      tags: [Orders]
      summary: Read Order
      description: >-
        Retrieves an order. Used to read data in the Flex Pay order. It can be
        used when there is a doubt if the previous endpoint functioned
        correctly.
      externalDocs:
        url: https://docs.uplift.com/apidocs/retrieves-an-order
      parameters:
        - $ref: '#/components/parameters/orderId'
      responses:
        '200':
          description: Successful order response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
  /v1/orders/{orderId}/confirmation:
    put:
      operationId: confirmOrder
      tags: [Orders]
      summary: Confirm Order
      description: >-
        Used to confirm the order to Flex Pay, including their confirmation
        number. The order is confirmed in their system and they provide us with
        their confirmation number.
      externalDocs:
        url: https://docs.uplift.com/apidocs/confirms-an-order
      parameters:
        - $ref: '#/components/parameters/orderId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request confirmation.
              required: [confirmationId]
              properties:
                confirmationId:
                  type: string
                  description: Confirmation ID
      responses:
        '204':
          description: Order confirmed
  /v1/orders/{orderId}/card:
    get:
      operationId: getOrderCard
      tags: [Orders]
      summary: Retrieves an Order's Card resource
      description: >-
        Retrieves the virtual card (payment details for merchant payout)
        associated with an order.
      externalDocs:
        url: https://docs.uplift.com/apidocs/retrieves-an-orders-card-resource
      parameters:
        - $ref: '#/components/parameters/orderId'
      responses:
        '200':
          description: Successful payment response
          content:
            application/json:
              schema:
                type: object
                description: Payment details.
                properties:
                  card:
                    $ref: '#/components/schemas/Card'
  /v1/transactions:
    post:
      operationId: authorizeTransaction
      tags: [Transactions]
      summary: Authorize Transaction
      description: >-
        Using the order_id from the checkout flow, an authorization is the
        first step using the Transaction API. Once an authorization is
        submitted against an Order, a new Transaction is created. Once a
        transaction is authorized you have up to 7 days to submit capture
        requests; after expiration the remaining amount is automatically voided
        (see authorization_expiration on the Transaction object).
      externalDocs:
        url: https://docs.uplift.com/apidocs/authorize-transaction
      parameters:
        - $ref: '#/components/parameters/idempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [order_id]
              properties:
                order_id:
                  type: string
                  format: uuid
                  description: The order_id received from Flex Pay during the checkout flow.
                amount:
                  type: number
                  format: decimal
                  minimum: 0
                  description: >-
                    The amount you're authorizing for this transaction. If left
                    blank, authorize the remaining approved amount.
                currency:
                  type: string
                  description: >-
                    The currency in which you're authorizing the transaction
                    for, in ISO 4217 format. Required if amount is provided.
                merchant_reference_id:
                  type: string
                  description: >-
                    Optional field for merchants to enter their own reference ID
                    to aid in reconciliation.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
  /v1/transactions/{transactionId}:
    get:
      operationId: getTransaction
      tags: [Transactions]
      summary: Get Transaction
      externalDocs:
        url: https://docs.uplift.com/apidocs/get-transaction
      parameters:
        - $ref: '#/components/parameters/transactionId'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
  /v1/transactions/{transactionId}/void:
    post:
      operationId: voidTransaction
      tags: [Transactions]
      summary: Void Transaction
      description: >-
        Fully or partially void an already authorized transaction (e.g. a
        cancelled or unfulfillable item). The amount must be less than or equal
        to the remaining_amount in the Transaction object; voided amounts are
        permanently deducted and can no longer be captured.
      externalDocs:
        url: https://docs.uplift.com/apidocs/void-transaction
      parameters:
        - $ref: '#/components/parameters/idempotencyKey'
        - $ref: '#/components/parameters/transactionId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionAmountRequest'
      responses:
        '200':
          description: Updated Transaction object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
  /v1/transactions/{transactionId}/capture:
    post:
      operationId: captureTransaction
      tags: [Transactions]
      summary: Capture Transaction
      description: >-
        Request payment for the customer's order. Fully capture by submitting an
        amount equal to the remaining_amount, or partially capture with a
        smaller amount and request the rest later.
      externalDocs:
        url: https://docs.uplift.com/apidocs/capture-transaction
      parameters:
        - $ref: '#/components/parameters/idempotencyKey'
        - $ref: '#/components/parameters/transactionId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionAmountRequest'
      responses:
        '200':
          description: Updated Transaction object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
  /v1/transactions/{transactionId}/refund:
    post:
      operationId: refundTransaction
      tags: [Transactions]
      summary: Refund Transaction
      description: >-
        Fully or partially refund a previously captured transaction with an
        amount equal to or less than the captured_amount. The refunded amount is
        returned by netting against your upcoming payout during the
        disbursement process.
      externalDocs:
        url: https://docs.uplift.com/apidocs/refund-transaction
      parameters:
        - $ref: '#/components/parameters/idempotencyKey'
        - $ref: '#/components/parameters/transactionId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionAmountRequest'
      responses:
        '200':
          description: Updated Transaction object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
  /v1/marketing/offers:
    servers:
      - url: https://partner.upgrade.com/api/flexpay
        description: Production (marketing)
      - url: https://partner.credify.tech/api/flexpay
        description: Pre-production (marketing)
    post:
      operationId: getOffers
      tags: [Marketing Offers]
      summary: Get offers
      description: >-
        Generates marketing offers (monthly-payment pricing and availability)
        for a list of orders, for display early in the shopping flow.
      externalDocs:
        url: https://docs.uplift.com/apidocs/generates-marketing-offers-for-orders-4
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: List of orders.
              required: [integrationId, orders]
              properties:
                integrationId:
                  type: string
                  description: Unique integration identifier.
                  example: UP-12345678-9
                orders:
                  type: array
                  description: List of orders.
                  items:
                    $ref: '#/components/schemas/Order'
      responses:
        '200':
          description: Marketing offers response
          content:
            application/json:
              schema:
                type: object
components:
  parameters:
    orderId:
      name: orderId
      in: path
      required: true
      description: Order ID
      schema:
        type: string
    transactionId:
      name: transactionId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    idempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      description: Idempotency key to prevent duplicate requests.
      schema:
        type: string
  schemas:
    Order:
      type: object
      description: >-
        Order details (documented subset — see
        https://docs.uplift.com/docs/high-level-schema-overview for the full
        schema guidance).
      properties:
        addOns:
          type: array
          description: List of addons.
          items:
            type: object
            properties:
              externalId:
                type: string
                description: Unique addon identifier.
              name:
                type: string
                description: Addon name.
              price:
                type: string
                description: Addon price in dollar format.
                example: '100.13'
        billingContact:
          $ref: '#/components/schemas/BillingContact'
    BillingContact:
      type: object
      properties:
        city:
          type: string
          description: Billing contact city.
          example: New York City
        country:
          type: string
          description: Billing contact country.
          enum: [US, CA]
        dateOfBirth:
          type: string
          format: date
          description: Billing contact date of birth in YYYY-MM-DD format.
          example: '1996-10-21'
        email:
          type: string
          description: Billing contact email.
          example: sample@flexpay.com
        firstName:
          type: string
          description: Billing contact first name.
          example: Arthur
        lastName:
          type: string
          description: Billing contact last name.
          example: Davis
    Card:
      type: object
      description: Card details for merchant payout (single-use virtual card).
      properties:
        id:
          type: string
          nullable: true
          description: Do not send or set to null in request.
        ccv:
          type: string
          example: '123'
        expirationMonth:
          type: integer
          example: 12
        expirationYear:
          type: integer
          example: 2027
        nameOnCard:
          type: string
          example: Arthur Davis
        number:
          type: string
          example: '5431111111111111'
        contact:
          type: object
          properties:
            postalCode:
              type: string
              example: '99999'
    TransactionAmountRequest:
      type: object
      properties:
        amount:
          type: number
          format: decimal
          minimum: 0
          description: >-
            Amount voided, captured, or refunded. Optional. If left blank, uses
            the full remaining amount.
        currency:
          type: string
          description: >-
            ISO 4217 currency code for this transaction. Required if amount is
            provided.
        merchant_reference_id:
          type: string
          description: >-
            Optional field for merchants to enter their own reference ID to aid
            in reconciliation.
    Transaction:
      type: object
      description: >-
        The Transaction object returned by the Transactions API (documented
        subset).
      properties:
        id:
          type: string
          format: uuid
          description: >-
            The unique transaction_id generated when an authorization is
            submitted for an order.
        original_amount:
          type: number
          format: decimal
          description: The original amount the transaction was authorized for.
        remaining_amount:
          type: number
          format: decimal
          description: The remaining amount that can be captured.
        captured_amount:
          type: number
          format: decimal
          description: The cumulative amount that has been successfully captured.
        authorization_expiration:
          type: string
          description: >-
            Timestamp after which no new captures may be placed on this
            transaction and the remaining amount is automatically voided (up to
            7 days after authorization).
  securitySchemes:
    flexPayOAuth:
      type: oauth2
      description: >-
        OAuth 2.0 client-credentials grant. Client IDs and secrets are issued
        per merchant and per environment by the Flex Pay integration team
        (server IP allowlisting required). Tokens expire after 30 minutes by
        default and are sent as `Authorization: Bearer {token}`.
      flows:
        clientCredentials:
          tokenUrl: https://partner.upgrade.com/api/auth/v1/oauth/token
          scopes: {}
    bearerAuth:
      type: http
      scheme: bearer
      description: >-
        Access token from the Flex Pay authorization server, included in the
        Authorization HTTP header for all API requests.
